body {
  width: 80%;
  margin: auto;
}

.main-container {
  width:1100px;
  text-align: center;
  margin-bottom: 25px;
}

.object-container {
  position: relative;
  display: inline-block;
  width: 350px;
  height: 420px;
  background-color: #EDEDED;
  margin-right: 5px;
}

.object-container:hover {
  background-image: url("../img/hearth.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.etichetta-sconto-5 {
  position: absolute;
  width: 40px;
  height: 20px;
  background-color: red;
  right: 0px;
}

.etichetta-sconto-30 {
  position: absolute;
  width: 40px;
  height: 20px;
  background-color: green;
  right: 0px;
}
