body {
  width: 80%;
  margin: auto;
}

.main-container {
  width:100%;
  background: pink;
  text-align: center;
}

.object-container {
  border:1px solid black;
  display: inline-block;
  width:350px;
  height:450px; /*se setto height:550px non crea spazio sopra */
  background-color: #EDEDED;

}
img {
  margin: 0;
  padding: 0;
}
