body {
  width: 80%;
  margin: auto;
}

.main-container {
  width:1250px;
  background: pink;
  text-align: center;
  margin-bottom: 25px;
}

.object-container {
  position: relative;
  border: 1px solid black;
  display: inline-block;
  width: 350px;
  height: 450px; 
  background-color: #EDEDED; */

}

.object-container:hover {
  background-image: url("../img/hearth.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.codice-sconto-5 {
  position: absolute;
  width: 40px;
  height: 20px;
  background-color: red;
  right: 0px;
}

.codice-sconto-30 {
  position: absolute;
  width: 40px;
  height: 20px;
  background-color: green;
  right: 0px;
}
